extend layout

block content
    h1 #{poll.title}
    h2 Candidates
    br
    each cand in poll.candidates
        p
            span.candidate= cand
                
            button(type="button", style="float:right; margin-right:20%") Delete
            button(type="button", style="float:right").rename Rename
    br
    button(type="button") Add Candidate
    br
    if poll.privacy === "private"
        form(action="/share", method="POST")
            input(type="hidden", name="pid", value=poll._id)
            label(for="emails") Enter each email on a seperate line to share poll
            textarea(name="emails",rows="10", cols="25")
            br
            input(type="submit", value="Submit")
    else
        br
        p 
            | This poll is public. Anyone with a registered account can vote.
            | Copy & Paste the link below and share it to start collecting votes!
        pre#codeBox http://www.pollstr.us/poll/#{poll._id}
    - var numLeft = poll.quorum - poll.votes.length
    - var s = (poll.votes.length === 1) ? '' : 's';
    br
    p This poll currently has #{poll.votes.length} vote#{s} submitted.
    if poll.quorum > 0
        p There are #{poll.quorum} votes required.
    if numLeft > 0
        p Not enough votes to end poll. You need #{numLeft} more.
    else
        button(type="button", onclick="endPoll('"+poll._id+"')") End Poll
    br
    button(type="button", onclick="deletePoll('"+poll._id+"')") Delete Poll
block scripts
    script(src="/js/moderate.js")