extend layout

block content
    - var numPolls = polls.length
    if polls.length === 0
        p You have no polls. Create one or get invited to one to get started.
    else
        h2 Active Polls
        each poll in polls
            if poll.active
                div.poll
                    h2
                        a(href="/poll/"+poll._id)= poll.title
                    p #{poll.candidates.length} candidates.
                    p Voting is open
                    if (poll.mod_id.toString() == user._id.toString())
                        div.moderate
                            | [
                            a(href="/mod/"+poll._id) moderate poll
                            | ]
        br
        h2 Ended Polls
        each poll in polls
            if !poll.active
                div.poll
                    h2
                        a(href="poll/"+poll._id)= poll.title
                        p #{poll.candidates.length} candidates.
                    p Voting has ended.
                    p The winner is #{poll.winner}!
                    if (poll.mod_id.toString() == user._id.toString())
                        div.moderate
                            | [
                            a(href="/mod/"+poll._id) moderate poll
                            | ]