extend layout

block content
    h1 #{poll.title}
    if poll.active === false
        h2(style="font-weight:bold") Poll has ended and the winner is #{poll.winner}!
    - var isDisabled = !(poll.active && canVote) ? 'disabled' : '';
    if poll.style === "fptp"
        if !canVote
            h2(style="color:red") Your vote has already been recieved! Thank you.
        else
            h2 Please select a candidate to vote for.
        br
        form(action="/vote", method="post")
            input(type="hidden", value=user.username, name="uid")
            input(type="hidden", value=poll._id, name="pid")
            each c in poll.candidates
                <input type="radio" name="candidate" value=#{c} #{isDisabled} /> #{c}
                br
                br
            <input type="radio" name="candidate" value="_abstain_" #{isDisabled} /> Abstain
            br
            br
            <input type="submit" value="Vote!" #{isDisabled} />

    else
        if !canVote
            h2(style="color:red") Your vote has already been recieved! Thank you.
        else
            h2 Please arrange the candidates from most preferred to least preferred
        div(hidden)#uid #{user.username}
        div(hidden)#pid #{poll.id}
        div#sortable
            each c,i in poll.candidates
                li(id=c, class="ui-state-default").touchable
                    span.ui-icon.ui-icon-arrowthick-2-n-s
                    | #{c}
        p
            input(type="checkbox",value='Abstain', isDisabled)#isChecked 
            | &nbsp; Abstain
        
        if poll.privacy === 'private' && user === undefined
            p
            | Because this poll is set as private and you are not logged in, you must enter
            | the email address this link was sent to below to verify that you
        <button type="button" id="submit" #{isDisabled}>Submit Vote</button>


block scripts
    script(src="http://code.jquery.com/ui/1.9.2/jquery-ui.js")
    script(src="/js/touchable.js")
    script(src="/js/vote.js")
    link(rel="stylesheet", href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css")